{{#each this}}
    {{#if this.name}}
        <div id = "beer-card">
            <img src={{image_url}} alt="beer img">
            
            <div id = "beer-info">
                <h2> {{name}} </h2>
                <p> {{tagline}} </p>
                <p> {{description}} </p>
            </div>
        </div>
    {{/if}}
{{/each}}