/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;*/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    font-size: 15px;
    height: max-content;
}

a {
    text-decoration: none;
    color: #f7f9f9;
    font-size: 15px;
}

nav {
    text-align: left;
}

nav > ul {
    list-style: none;
    display: flex;
    background-color: #2081c3;
}

nav > ul > li {
    padding: 30px;
}

button {
    background-color: #2081c3;
    margin: 2.5rem auto;
    padding: 10px;
    border-radius: 7%;
    border: 1px solid #2081c3;
    
}

#beer-img {
    width: 300px;
    margin: 3rem auto;
}

footer {
    position: sticky;
    width: 100%;
    color: #f7f9f9;
    background-color: #0a2c42;
    text-align: left;
    padding: 30px;
}

#beer-card,
#randombeer-card {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

#beer-card {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 30%;
    flex-direction: column;
}

#beer-card > img {
    height: 9rem;
    width: 3rem;
}

#randombeer-card > img {
    float:left;
    height: 15rem;
    width: 5rem;
    margin: 50px;
}

#randombeer-card > #beer-info {
    margin-top: 50px;
}

#beer-info, 
#pairing, 
#tips  {
    width: 90%;
    text-align: left;
}

#beer-info > h2 {
    font-size: 20px;
    font-weight: bold;
}

#beer-info > p   {
    font-size: 15px;
    margin-bottom: 20px;
}

.tagline {
    color: grey;
    font-weight: bold;
}

#beers {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pairing {
    list-style: disc;
    margin: 20px 0 20px 50px;
}

#pairing > li {
}

h2 {
    text-align: left;
    font-weight: bold;
}

#tips {
    margin-bottom: 100px;
}